[class^="nfl-"],
[class*=" nfl-"] {
    display: inline-block;
    width: 48px;
    height: 34px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("nfl-logos.jpg");
    background-position: 48px 34px;
    background-repeat: no-repeat;
}

    [class^="nfl-"]:last-child,
    [class*=" nfl-"]:last-child {
        *margin-left: 0;
    }

.nfl-ARI {
    background-position: -2px 0px;
}

.nfl-ATL {
    background-position: -48px 0;
}

.nfl-BAL {
    background-position: -94px 0;
}

.nfl-BUF {
    background-position: -140px 0;
}

.nfl-CAR {
    background-position: -184px 0;
}

.nfl-CHI {
    background-position: -230px 0;
}

.nfl-CIN {
    height: 32px;
    background-position: 0px -32px;
}

.nfl-CLE {
    height: 32px;
    background-position: -48px -32px;
}

.nfl-DAL {
    height: 32px;
    background-position: -93px -32px;
}

.nfl-DEN {
    height: 32px;
    background-position: -140px -32px;
}

.nfl-DET {
    height: 32px;
    background-position: -186px -32px;
}

.nfl-GB {
    height: 30px;
    background-position: -232px -33px;
}

.nfl-HOU {
    height: 30px;
    background-position: 0px -63px;
}

.nfl-IND {
    height: 30px;
    background-position: -47px -63px;
}

.nfl-JAC {
    height: 30px;
    background-position: -94px -63px;
}

.nfl-KC {
    height: 30px;
    background-position: -140px -63px;
}

.nfl-MIA {
    height: 30px;
    background-position: -186px -63px;
}

.nfl-MIN {
    height: 30px;
    background-position: -231px -63px;
}

.nfl-NE {
    height: 26px;
    background-position: -2px -94px;
}

.nfl-NO {
    height: 30px;
    background-position: -48px -93px;
}

.nfl-NYG {
    height: 30px;
    background-position: -93px -93px;
}

.nfl-NYJ {
    height: 30px;
    background-position: -139px -93px;
}

.nfl-OAK {
    height: 30px;
    background-position: -185px -93px;
}

.nfl-PHI {
    height: 30px;
    background-position: -232px -93px;
}


.nfl-PIT {
    height: 30px;
    background-position: -2px -122px;
}

.nfl-SD {
    height: 30px;
    background-position: -47px -122px;
}

.nfl-SF {
    height: 30px;
    background-position: -94px -122px;
}

.nfl-STL {
    height: 30px;
    background-position: -140px -122px;
}

.nfl-TB {
    height: 30px;
    background-position: -184px -122px;
}

.nfl-TEN {
    height: 30px;
    background-position: -232px -122px;
}

.nfl-WAS {
    height: 28px;
    background-position: -2px -152px;
}

.nfl-SEA {
    height: 28px;
    background-position: -48px -152px;
}

.nfl-FA {
    background-position: -94px -152px;
}
