.player-search {
  padding: 10px;
}
.player-card {

  background: #eee;
  border-top: 2px solid #e0e0e0;
  border-right: 2px solid #e0e0e0;
  color: #212121;
  padding: 10px !important;
  margin-bottom: 10px;
  text-align: center;

  .pick-num {
    text-align: left;
  }

  .profile-pic {
    margin: 0 auto;

    img {
      border: 2px solid #e0e0e0;
    }
  }

  .up-vote, .down-vote {
    color: #fff;
    text-align: center;
    padding: 12px;
    border-radius: 0;
    outline: none;
  }

  .score {
    text-align: center;
  }

}

.paging {
  padding: 10px;
}
