<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a href="#/players">Players</a></li>
    <li><a href="#/live">Live</a></li>
  </ul>
  <h3 class="text-muted">firedraft</h3>
</div>

<div class="col-xs-12 player-search">
  <select class="form-control"
          data-ng-model="searched"
          data-ng-options="index.value as index.name for index in indexes">
  </select>
</div>

<div class="col-xs-12 player-card" data-ng-repeat="player in players">
  <div class="col-sm-3 col-xs-12">
    <div class="profile-pic">
      <img data-ng-src="{{ player.picture }}" alt="" />
    </div>
  </div>
  <div class="player-info col-sm-6 col-xs-12">
    <h3>{{ player.first }} {{ player.last }}</h3>
    <h5>{{ player.pos }}</h5>
  </div>


<!--   <div data-ng-if="!player.pick" class="player-feedback col-sm-3 col-xs-12">
    <h5>Would you draft him?</h5>
    <button class="btn btn-success col-xs-6 up-vote">Yes</button>
    <button class="btn btn-danger col-xs-6 down-vote">No</button>
    <div class="col-xs-12 score">
      <h3>{{ player.predraft }}</h3>
    </div>
  </div> -->

  <div data-ng-if="player.pick" class="player-feedback col-sm-3 col-xs-12">
    <h5>Like the pick?</h5>
    <button class="btn btn-success col-xs-6 up-vote">Yes</button>
    <button class="btn btn-danger col-xs-6 down-vote">No</button>
    <div class="col-xs-12 score">
      <h3>{{ player.postdraft }}</h3>
    </div>
  </div>

</div>

<div class="paging text-center" data-ng-if="searched && players.length !== 1">
  <button class="btn btn-primary"
          data-ng-click="previous()"
          data-ng-disabled="prevDisabled">&larr;</button>
  <button class="btn btn-primary"
          data-ng-click="next()"
          data-ng-disabled="nextDisabled">&rarr;</button>
</div>
